In [1]:
"hamza" + "ejaz"

'hamzaejaz'

In [3]:
['1','2'] + ['a' + 'b']

['1', '2', 'ab']

In [4]:
"A" * 3

'AAA'

In [5]:
2**3

8

In [6]:
11 // 3            #ignoring after point

3

In [7]:
11 % 3      # modulus

2

In [8]:
18%5    # modulus

3

In [ ]:
== equal
> greater than
< less than
!= not equal
<> not equal
>= greater than equal
<= less than equal

In [9]:
"hamza" == "hamza"

True

In [10]:
"hamza"=="Hamza"

False

In [11]:
6>10

False

In [12]:
10 >= 10

True

In [13]:
chr(65)

'A'

In [14]:
ord("A")

65

In [15]:
ord("f")

102

In [16]:
chr(48)

'0'

In [17]:
2<=3

True

In [18]:
2!=2

False

In [19]:
3!=2

True

# Asignment operator

In [ ]:
= 'assign value'

In [25]:
a = 1
a = a + 2
a = a + 3
print(a)

6

In [27]:
a = 1
a += 2
a += 3
print (a)

6

In [28]:
a = 2
a *= 2
a *= 3
print(a)

12

In [30]:
a=2
a **= 3 # 8= 2x2x2
a  **= 3 # 512= 8x8x8
print(a)

512

In [31]:
a=21
a %= 2
print (a)

1

In [33]:
a= "A"
a += "B"
a += "C"
print (a)

ABC

# logical operator

In [ ]:
and = &
or = |
not != <>

In [42]:
a = "A"
b = "B"
c = "C"
print (a == "A") & (b == "B") & (c == "C")

True

TypeError: unsupported operand type(s) for &: 'NoneType' and 'bool'

In [44]:
user = input("user name = ")
password = input("password = ")
(user == "hamza" or user == "ejaz") \
and password == "123"

user name = hamza
password = 123

True

In [47]:
not (False and False)

True

In [48]:
28 & 29

28

In [49]:
28 & 26     # AND

24

In [51]:
ord("A") & ord("B")

64

In [52]:
28 | 29 # OR

29

In [53]:
28 ^ 29 # XOR

1

In [ ]:
11001 = 25
11001 = 1100100 # left shift
00110  # right shift